<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.shri.glassware1">

<application>

    <service
        android:name=".HelloWorldLiveCardService"
        android:label="@string/title_activity_hello_world_live_card_service"
        android:icon="@drawable/ic_glass_logo">
        <intent-filter>
            <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
        </intent-filter>
        <meta-data
            android:name="com.google.android.glass.VoiceTrigger"
            android:resource="@xml/voice_trigger" />
    </service>

    <activity
        android:name=".LiveCardMenuActivity"
        android:theme="@style/MenuTheme" />

</application>

</manifest>